
<div class="container">

    <% if params[:id].to_i == current_user["id"] %>
      <div class="top-container">
        <h1>Ca C toi Bichon!</h1>
      </div>
    <% else %>
      <div class="top-container">
        <h1>Tul conais s'gars là?</h1>
      </div>
    <% end %>


  <div class="game-image-container">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: 400, height: 300, crop: :fill%>
    <% else %>
    <% end %>
  </div>

  <div class="game-session-content">
    <p>First name: <%= @user.first_name %></p>
    <p>Last name: <%= @user.last_name %></p>
    <p>Username: <%= @user.username %></p>
    <p>Phone number: <%= @user.phone_number %></p>
    <p>Address: <%= @user.street_number %> <%= @user.street %></p>
    <p>Postal Code: <%= @user.postal_code %></p>
    <p>City: <%= @user.city %></p>

    <% if params[:id].to_i == current_user["id"] %>
      <div class="game-session-footer btn" onclick="location.href='<%= edit_user_path(@user) %>'">
          <p> Edit </p>
      </div>
      <div class="game-session-footer btn" onclick="location.href='<%= player_game_sessions_path %>'">
          <p> Retour à ton dashboard </p>
      </div>
    <% else %>
      <div class="filter-container">
        <h1>Les sessions de <%= @user.username %></h1>
      </div>
      <div class="personal-container">
        <div class="map-and-cards-container" id="map-and-cards-container">
          <div class="cards-container" id="cards-container">
            <div class="cards">
              <% @game_sessions.each do |game_session| %>
                <% if game_session.booked == false %>
                  <div class="card" onclick="location.href='<%= game_session_path(game_session) %>'">

                    <div class="card-left-side">
                      <div class="card-date"><%= game_session.date %></div>
                      <div class="card-city"><%= game_session.city %></div>
                    </div>

                    <div class="card-middle">
                      <div class="card-game-name"><%= game_session.game.name %></div>
                      <div class="card-game-description"><%= game_session.description %></div>
                      <% if game_session.booked == true %>
                        <i class="far fa-check-circle booked"></i>
                      <% end %>
                    </div>

                    <div class="card-right-side">
                      <div class="card-price"><%= game_session.price %>€</div>
                      <div class="card-avatar-container">
                        <% if game_session.creator.photo.attached? %>
                          <div class="card-avatar" style="background-image:url('<%= cl_image_path game_session.creator.photo.key %>')"></div>
                        <% else %>
                          <div class="card-avatar" style="background-image:url('<%= @image_placeholder %>')"></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

