
<div>
  <%= form_tag game_sessions_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a city or/and a date"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="cards">
  <% @game_sessions.each do |game_session| %>
  <div class="card">
      <div class="card-date"><%= game_session.date %></div>
      <div class="card-details">
        <div class="card-game-name"><%= game_session.game.name %></div>
        <div class="card-game-description">game_session.game.description</div>
        <div class="card-price">game_session.price</div>
        <% if game_session.creator.photo.attached? %>
          <div class="card-avatar" style="background-image:url('<%= cl_image_path game_session.creator.photo.key %>')"></div>
        <% else %>
          <div class="card-avatar" style="background-image:url('<%= @image_placeholder %>')"></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
