<div class="container">

  <div class="filter-container">
    <h1 class="mt-2">Kestucherches mon Bichon?</h1>
    <div class="filter-form-container d-flex justify-content-center mt-3">
      <%= form_tag game_sessions_path, class: "ml-2 mr-2 w-50", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find by city and/or game"
        %>
        <%= submit_tag "Search", class: "btn btn-flat w-100 mb-5" %>
      <% end %>
    </div>
  </div>


</div>

<div class="personal-container">
  <button class="btn-ghost" id="map-toggler">Hide Map</button>

  <div class="map-and-cards-container" id="map-and-cards-container">
    <div class="cards-container" id="cards-container">
      <div class="cards">
        <% @game_sessions.each do |game_session| %>
          <% if game_session.booked == false && game_session.date >= DateTime.now %>

            <% if game_session.date == @today && @today_use == true %>
              <h2 class="date-delimiter" >Sessions Today</h2>
              <% @today_use = false %>

            <% elsif game_session.date <= @next_sunday && @this_week_use == true %>
              <h2 class="date-delimiter">Sessions this Week</h2>
              <% @this_week_use = false %>

            <% elsif game_session.date.year == @today.year && game_session.date.month == @today.month && @this_month_use == true %>
              <h2 class="date-delimiter">Sessions this Month</h2>
              <% @this_month_use = false %>

            <% elsif game_session.date.year == @today.year && @later_this_year_use == true %>
              <h2 class="date-delimiter">Sessions later this Year</h2>
              <% @later_this_year_use = false %>

             <% elsif game_session.date.year > @today.year && @next_year_use == true %>
              <h2 class="date-delimiter">Sessions after this Year</h2>
              <% @next_this_year = false %>

            <% end %>

            <div class="card" onclick="location.href='<%= game_session_path(game_session) %>'">

              <div class="card-left-side">
                <div class="card-date"><%= game_session.date %></div>
                <div class="card-city"><%= game_session.city %></div>
              </div>

              <div class="card-middle">
                <div class="card-game-name"><%= game_session.game.name %></div>
                <div class="card-game-description"><%= game_session.description %></div>
                <% if game_session.booked == true %>
                  <i class="far fa-check-circle booked"></i>
                <% end %>
              </div>

              <div class="card-right-side">
                <div class="card-price"><%= game_session.price %>€</div>
                <div class="card-avatar-container">
                  <% if game_session.creator.photo.attached? %>
                    <div class="card-avatar" style="background-image:url('<%= cl_image_path game_session.creator.photo.key %>')"></div>
                  <% else %>
                    <div class="card-avatar" style="background-image:url('<%= @image_placeholder %>')"></div>
                  <% end %>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="map-container" id="map-container">
       <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
      </div>
    </div>
  </div>
</div>
