
<div class="container">

  <div class="game-session-content">
    <div class="d-flex align-item-center justify-content-around game-session-show-title">
      <p><%= @game_session.game.name %></p>
      <p><%= @game_session.date %></p>
      <p><%= @game_session.city %></p>
    </div>

    <div class="d-flex align-item-center justify-content-around game-session-show-img">
      <%= cl_image_tag("risk_i5wr26.jpg", width: 400, height: 300, crop: :fill) %>
      <div class="game-description">
        <h4>Game description :</h4>
        <p><%= @game_session.game.description %></p>
      </div>
    </div>

    <div class="d-flex align-item-center justify-content-around game-session-show-content">
      <p><%= @game_session.description %> avec <%= @game_session.game.min_player %> à <%= @game_session.game.max_player %> amis</p>
      <p>Hosted by : <%= @game_session.creator.email %></p>
      <p><%= @game_session.price %>euro</p>
    </div>

    <div class="flying-btn">
      <% if @game_session.booked? %>
        <%= link_to 'Already taken', game_session_path(@game_session) %>
      <% else %>
        <%= link_to 'Book Session', edit_game_session_path %>
      <% end %>
    </div>


  </div>

</div>

