<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "board_game_klnb2q.jpg", height: 300, width: 400, crop: :fill %>')">

</div>


<div class="container">

  <div class="game-session-content">
    <div class="d-flex align-item-center justify-content-around game-session-show-title">
      <p><%= @game_session.date %></p>
      <p><%= @game_session.game.name %></p>
    </div>

    <div class="d-flex align-item-center justify-content-around game-session-show-img">
      <%= cl_image_tag("risk_i5wr26.jpg", width: 400, height: 300, crop: :fill) %>
    </div>

    <div class="d-flex align-item-center justify-content-around game-session-show-content">
      <p><%= @game_session.game.description %> avec <%= @game_session.game.min_player %> à <%= @game_session.game.max_player %> amis</p>
      <p>Hosted by : <%= @game_session.creator.email %></p>
      <p><%= @game_session.price %>euro</p>
    </div>

    <div class="flying-btn">
      <%= link_to 'Book Session', edit_game_session_path %>
    </div>


  </div>

</div>

