<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="letters-container">
    <div class="scrabble-letter">
      <div class="main-letter">O</div>
      <div class="little-num">1</div>
    </div>
    <div class="scrabble-letter small" id="rotate-right-10">
      <div class="main-letter">n</div>
      <div class="little-num">1</div>
    </div>
    <div class="scrabble-letter">
      <div class="main-letter">B</div>
      <div class="little-num">3</div>
    </div>
    <div class="scrabble-letter small" id="rotate-left-10">
      <div class="main-letter">o</div>
      <div class="little-num">1</div>
    </div>
    <div class="scrabble-letter small">
      <div class="main-letter">a</div>
      <div class="little-num">1</div>
    </div>
    <div class="scrabble-letter small">
      <div class="main-letter">r</div>
      <div class="little-num">1</div>
    </div>
    <div class="scrabble-letter small">
      <div class="main-letter">d</div>
      <div class="little-num">2</div>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link-red" %>
        <%= link_to "Sessions", game_sessions_path, class: "nav-link-red" %>
        <%= link_to "Games", games_path, class: "nav-link-red" %>
      </li>

      <li class="nav-item dropdown">

        <% if user_signed_in? %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, width: 50, height: 50, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "My profil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "My dashboard", player_game_sessions_path, class: "dropdown-item" %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        <% else %>
          <i class="far fa-smile avatar dropdown-toggle" style="font-size: 50px; margin-right: 25px;" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "My dashboard", player_game_sessions_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <i class="far fa-angry avatar dropdown-toggle" style="font-size: 50px; margin-right: 25px;" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
