<p>Please add a new game</p>
<p>welcome to the edit page of games</p>
<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :min_player %>
  <%= f.input :max_player %>
  <%= f.input :category %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Update Game', class: "btn-primary" %>
<% end %>

<div>
  <%= link_to 'Home', games_path %>
</div>

