<div class="container">
  <p class="edit-title">What game do you want to add Bichon?</p>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :min_player %>
    <%= f.input :max_player %>
    <%= f.input :category %>
    <%= f.input :photo, as: :file, class: "choose-photo" %>
    <%= f.submit 'Create Game', class: "btn btn-flat" %>
  <% end %>

</div>
