<div class="container">

  <div class="top-container">
    <h1>The amazing game of <%= @game.name %></h1>
    <div class="btn-join-session">
      <%= link_to 'Create Game Session', new_creator_game_session_path, class: "btn btn-flat", style: "font-size: 24px;" %>
    </div>
  </div>

  <div class="game-session-content">
    <div class="game-session-show-title">
      <p style="text-align: center"><%= @game.name %></p>
    </div>

    <div class="game-details" style="height: 30vh;">
      <div class="game-image-container" style="height: 100%">
        <% if @game.photo.attached? %>
          <%= cl_image_tag @game.photo.key, style: "height: 100%;" %>
        <% else %>
          <%= cl_image_tag("risk_i5wr26.jpg", width: 400, height: 300, crop: :fill) %>
        <% end %>
      </div>
      <div class="game-description-container" style="height: 100%">
        <h4>Game description :</h4>
        <p><%= @game.description %></p>
        <p>Min players : <%= @game.min_player %></p>
        <p>Min players : <%= @game.max_player %></p>
        <p style="text-align: right; font-size: 20px;">Category : <%= @game.category %></p>
      </div>
    </div>


    <div class="game-session-footer">
      <p>Reviews : <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i> (343)</p>
      <div class="d-flex align-items-center">
        <%= link_to 'Delete', game_path, class: "bg-transparent border-0 text-white", :method => :delete, data: {confirm: "Do you really want to delete this amazing game monbichon ?"} %>
        <p>||</p>
        <%= link_to 'Edit', edit_game_path(@game), class: "bg-transparent border-0 text-white" %>
      </div>

    </div>
  </div>

  <div class="cards">

    <% @game_sessions.each do |game_session| %>
      <% if game_session.game_id == @game.id %>
        <div class="card" onclick="location.href='<%= game_session_path(game_session) %>'">

            <div class="card-left-side">
              <div class="card-date"><%= game_session.date %></div>
              <div class="card-city"><%= game_session.city %></div>
            </div>

            <div class="card-middle">
              <div class="card-game-name"><%= game_session.game.name %></div>
              <div class="card-game-description"><%= game_session.description %></div>
              <% if game_session.booked == true %>
                <i class="far fa-check-circle booked"></i>
              <% end %>
            </div>

            <div class="card-right-side">
              <div class="card-price"><%= game_session.price %>€</div>
              <div class="card-avatar-container">
                <% if game_session.creator.photo.attached? %>
                  <div class="card-avatar" style="background-image:url('<%= cl_image_path game_session.creator.photo.key %>')"></div>
                <% else %>
                  <div class="card-avatar" style="background-image:url('<%= @image_placeholder %>')"></div>
                <% end %>
              </div>
            </div>

        </div>
      <% end %>
    <% end %>

  </div>

</div>

