<div class="main-container">
  <div class="edit-container">
    <h1>Create you game-session</h1>
    <div class="edit-form-container">
      <%= simple_form_for (@game_session), :url => url_for(:action => 'create', :controller => 'game_sessions'), :method => 'post' do |f| %>
        <%= f.input :date %>
        <%= f.input :game, collection: Game.all %>
        <%= f.input :price %>
        <div class="d-flex justify-content-between">
          <%= f.input :street_number, input_html: {id: 'street_number', value: current_user.street_number }%>
          <%= f.input :street, class: "form-grow" , input_html: {id: 'street', value: current_user.street }%>
        </div>
        <div class="d-flex justify-content-between">
          <%= f.input :postal_code, input_html: {id: 'postal_code', value: current_user.postal_code } %>
          <%= f.input :city, class: "form-grow", input_html: {id: 'city', value: current_user.city } %>
        </div>
        <%= f.input :description %>
        <div class="btn-wrapper">
          <%= f.submit "Add a game-session", class: "btn btn-flat"%>
        </div>
      <% end %>
      <div class="btn-flat new-gs-btn">
        <%= link_to "Can't find the best game in the world ? Add it to the list!", new_game_path %>
      </div>
    </div>
  </div>
</div>
